In [1]:
    import sqlite3
    import pandas as pd
    from bs4 import BeautifulSoup

In [18]:
con = sqlite3.connect("../dataset/corpus.sqlite3")

articles = pd.read_sql_query("SELECT * FROM Articles", con)

In [19]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12087 entries, 0 to 12086
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Article      12087 non-null  int64
 1   Path            12087 non-null  object
 2   publishingDate  12087 non-null  object
 3   Title           12087 non-null  object
 4   Body            12087 non-null  object
dtypes: int64(1), object(4)
memory usage: 472.3+ KB

In [20]:
articles[articles['Path'].str.contains('Sport')]

,ID_Article,Path,publishingDate,Title,Body
18,19,Newsroom/Sport/MehrSport/Football,2015-05-31 17:19:39.00,Austrian Football League: Vikings gewinnen ern...,"<div class=""diashow fullwidth multiple-slides""..."
22,23,Newsroom/Sport/MehrSport/Leichtathletik,2015-05-31 20:57:52.37,Jahresweltbestleistung: Kazmirek gewinnt Götzis,"<div class=""section"" id=""content-main"" itempro..."
32,33,Newsroom/Sport/Fussball/Euro2016/GruppeF/Natio...,2015-06-01 11:54:36.00,Koller fixiert Kader: Lazaro und Madl fehlen,"<div class=""section"" id=""content-main"" itempro..."
50,51,Newsroom/Sport/Fussball/FussballInternational,2015-06-01 14:43:11.00,Klopp nimmt bis auf weiteres eine Auszeit,"<div class=""section"" id=""content-main"" itempro..."
60,61,Newsroom/Sport/Fussball/Bundesliga/Cup,2015-06-01 16:39:54.35,2:0 - Salzburg siegt in der Verlängerung,"<div class=""artikelBody"" id=""content-main"">\n<..."
...,...,...,...,...,...
12034,12035,Newsroom/Sport/Motorsport,2016-05-30 15:34:17.00,Flotter Habsburg in Monaco auf dem Podest,"<div class=""section"" id=""content-main"" itempro..."
12048,12049,Newsroom/Sport/MehrSport/Basketball/NBA,2016-05-31 09:41:43.00,4:3 nach 1:3: Warriors wieder im NBA-Finale,"<div class=""section"" id=""content-main"" itempro..."
12051,12052,Newsroom/Sport/Wintersport/Eishockey/NHLStart,2016-05-31 09:36:00.00,Pittsburgh-Heimsieg zum Auftakt der NHL-Finals...,"<div class=""section"" id=""content-main"" itempro..."
12053,12054,Newsroom/Sport/Tennis/FrenchOpen,2016-05-30 14:34:36.00,Regen verhindert kompletten Spieltag,"<div class=""section"" id=""content-main"" itempro..."
12066,12067,Newsroom/Sport/Fussball/Euro2016/GruppeD,2016-05-31 13:11:32.00,"Schruns, Spielwiese spanischer Sieger","<div class=""section"" id=""content-main"" itempro..."

In [21]:
articles['Body'].str.len().describe()

count     12087.000000
mean       3423.464962
std        2965.171214
min         176.000000
25%        1749.500000
50%        2792.000000
75%        4223.000000
max      146223.000000
Name: Body, dtype: float64

In [6]:
articles.head()

,ID_Article,Path,publishingDate,Title,Body
0,1,Newsroom/User/Community,2012-05-26 03:00:19.23,Die Newsletter von derStandard.at,"<div class=""section"" id=""content-main"" itempro..."
1,2,Newsroom/User/Community/Regeln,2012-05-26 12:12:19.46,Werden Sie Teil von derStandard.at!,"<div class=""diashow"" id=""objectContent""><meta ..."
2,3,Diverses/mobil,2013-11-22 12:15:00.00,Die Android App von derStandard.at,"<div class=""section"" id=""content-main"" itempro..."
3,4,Newsroom/User/mitmachen/Mitreden,2014-08-13 05:30:00.00,Welche Erfahrungen haben Sie als Linkshänder g...,"<div class=""section"" id=""content-main"" itempro..."
4,5,Newsroom/User/mitmachen/Mitreden,2014-08-27 12:27:01.09,Wie haben Sie das Jahr 1989 erlebt?,"<div class=""section"" id=""content-main"" itempro..."

In [22]:
articles['body_text'] = articles['Body'].apply(lambda x: BeautifulSoup(x, 'html.parser').get_text())

In [23]:
articles['Body'].str.len().describe()

count     12087.000000
mean       3423.464962
std        2965.171214
min         176.000000
25%        1749.500000
50%        2792.000000
75%        4223.000000
max      146223.000000
Name: Body, dtype: float64

In [24]:
articles['body_text'].str.len().describe()

count    12087.000000
mean      2828.224125
std       2077.994151
min          1.000000
25%       1425.000000
50%       2334.000000
75%       3672.000000
max      37706.000000
Name: body_text, dtype: float64

In [29]:
display(articles.iloc[0]['body_text'][:500])

'Abonnieren Sie einen unserer Newsletter und lassen Sie sich aktuelle Nachrichten per Mail zuschicken! derStandard.at bietet eine Vielzahl themenbezogener Newsletter an.Unter dem Motto "Nachrichten in Echtzeit" liefert derStandard.at die wichtigsten Meldungen des Tages per E-Mail in einer HTML- oder Textversion. Unter derStandard.at/Newsletter können Sie Ihr kostenloses Newsletter-Abonnement bequem an- und abmelden.\nAlle Newsletter im Überblick\nD-Mail Newsroom: Spitzenmeldungen aus allen Newsroom'

## See what different main paths there are

In [11]:
articles['MainPath'] = articles['Path'].apply(lambda x: x.split('/')[0])

In [12]:
articles['MainPath'].value_counts()

MainPath
Newsroom       10433
Livingroom       690
Meinung          562
Kiaroom          274
dieStandard      107
daStandard        14
Diverses           5
IntraOnline        2
Name: count, dtype: int64

In [16]:
news = articles[articles['MainPath'] == 'Newsroom'].copy()
news['NewsroomTopic'] = news['Path'].apply(lambda x: x.split('/')[1])
news['NewsroomTopic'].value_counts()

NewsroomTopic
Panorama         1679
Web              1677
International    1513
Wirtschaft       1411
Sport            1201
Inland           1016
Etat              668
Wissenschaft      573
Kultur            539
User              156
Name: count, dtype: int64

In [31]:
display(news.iloc[150]['body_text'][:500])

'Der Direktor der Kunsthalle Krems wechselt ab Herbst ins Leopold-MuseumWien – Am Ende war es dann doch überraschend. Hans-Peter Wipplinger galt unter den 20 Bewerbern für die museologische Leitung im Leopold-Museum nicht unbedingt als Favorit. Fachlich stärker in der Gegenwartskunst angesiedelt, wurde er zuletzt für den Direktorenposten im Mumok hoch gehandelt, wo man letztlich doch mit Karola Kraus verlängerte. Die nun erfolgte Kür im Leopold-Museum hat vor allem mit seinen  Fähigkeiten als Net'